* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #0d1117;
  margin: 0;
  padding: 0;
}

#root {
  background: #0d1117;
  min-height: 100vh;
  width: 100%;
  max-width: 100%;
  border: none;
  text-align: left;
}